html{
    font-family: "Courier New", Courier, monospace;
    font: bold;
    text-align: center;
}
/*box-sizing: include all the padding and border
to total width.
border-box: make all the item the size width*/
* {
    box-sizing: border-box;
}

/*Start from here is the media section*/
body{
    background-color: rgb(255, 255, 255);
    position: relative;
}
#footer{
    border-top: 2px solid rgb(52, 59, 66);
    color: rgb(52, 59, 66);
    bottom:0;
    position: absolute;
}
/*This will divide my page into 12 collumn*/
/*Mobile first*/
[class*="col-"] {
    float: left;
    padding: 10px;
}
[class*="col-"] {
width: 100%;
}
@media only screen and (min-width: 40.5em) {
    /* For desktop: */
    .col-0 {width: 0%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


}
/*End 12 collumn*/


/*Add a style that clears the flow of the column
to prevent other item goes on top of the column*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.header{
    background-color: #1D2731;
    color:white;
    font: 20px;   
}
/*menu item*/
/*.menu{
    background-color: white;
    color: #1D2731;
    font: 20px;   
    width:33.33%;
}
.menu:hover{
    background-color: rgb(52, 59, 66);
    color:rgb(255, 255, 255);
}*/

/*---------------------------------------------*/
/*log-in form*/
.log-in  {
   margin: 0 auto; 
   text-align: center;
   background-size: 100%;
}

input[type="submit"] {
    background-color: #008000;
    font-family: "courier" ;
    font: bold 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 150px;
    height: auto;
    border-radius: 12px;
}
button:hover{
    background-color: rgb(39, 49, 59);
}
input[type=text],select {
    background-color: rgb(226, 226, 226);
    font: 14px bold;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    border-radius: 12px;
}
input[type=text]:focus{
    background-color: rgb(206, 192, 176);
}

.holder{
    background-color:#D69764;
}
.holder1{
    background-color: #E63022;
}
.holder2{
    background-color:#BDBAAA;
}

/*test*/

.menu {
    position: relative;
    display: inline-block;
    background-color: white;
    color: #1D2731; 
}
.menu-content {
    display: none;/*hide the <a> content until user hover */
    position: absolute;/*this will prevent the content behind move down for the content to appera */
    background-color: #1D2731;
    left:0;
    width: 100%;
    padding: 10px;
    

}

    .menu-content a {
        color: white;/*prevent href link to be blue*/
        text-decoration: none;/*prevent href link to be underline*/
        display: block; /*Displays an element as a block element (like <p>)*/
        padding: 10px;
    }

        .menu-content a:hover {
            background-color: rgb(52, 59, 66);
            color:rgb(255, 255, 255);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
              -o-transform: rotate(5deg);
             -ms-transform: rotate(5deg);
             transform: rotate(5deg);
        }

.menu:hover .menu-content {
    display: block;/*when mouse is hover: the item show*/
}
/*when it's full Screen------------------------*/
@media only screen and (min-width: 40.5em) {
    .header{
        background-color: #1D2731;
        color:white;
        min-height: 30px;
        border: none;
    }

    #footer{
        background-color: #1D2731;
        color: rgb(221, 220, 215);
        min-height: 30px;
        border: none;
        bottom:0;
        position: absolute;
    }
    
    .menu {
        background-color: #1D2731;
        color:white;
    }

}