html{
    font-family: "Courier New", Courier, monospace;
    font: bold;
    text-align: center;
}
/*box-sizing: include all the padding and border
to total width.
border-box: make all the item the size width*/
* {
    box-sizing: border-box;
}
/*Add a style that clears the flow of the column
to prevent other item goes on top of the column*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.body{
    position: relative;
}

.footer{
    background-color: #1D2731;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: rgb(221, 220, 215);
}

.footer a{
    color: white;/*prevent href link to be blue*/
    text-decoration: none;/*prevent href link to be underline*/
    padding: 0.5% 12% 0.5% 12%;
}
/*This will divide my page into 12 collumn*/
/*Mobile first*/
[class*="col-"] {
    float: left;
    padding: 10px;
}
[class*="col-"] {
width: 100%;
}
@media only screen and (min-width: 760px) {
    /* For desktop: */
    .col-0 {width: 0%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


}
/*End 12 collumn*/



/*This section deal with header, icon and make the icon light up when user hover*/
.header{
    background-color: #1D2731;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white;
    font: 20px;
    height: 40px;
}
.header a{
    color: white;/*prevent href link to be blue*/
    text-decoration: none;/*prevent href link to be underline*/
    padding: 0.5% 12% 0.5% 12%;
}
i { 
    opacity: 0.7; 
  } 
  
i:hover { 
    opacity: 1; 
}
/*---------------------------------------------*/
/*log-in form*/
.log-form  {
   margin: 0 auto; 
   text-align: center;
   background-size: 100%;
}

input[type="submit"] {
    background-color: #15ad15;
    font-family: "courier" ;
    font: bold 20px;
    color: rgb(255, 255, 255);
 
    width: 150px;
    height: auto;
}
input[type="reset"] {
    background-color: #b92323;
    font-family: "courier" ;
    font: bold 20px;
    color: rgb(255, 255, 255);

    width: 150px;
    height: auto;

}
button:hover{
    background-color: rgb(39, 49, 59);
}
input{
    border: 1px solid black;
    border-radius: 12px;
    font: 14px bold;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    width: auto;   
}

input[type=text],select {
    background-color: rgb(226, 226, 226);
    font: 14px bold;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    border-radius: 12px;
}
/*input[type=text]:focus{
    background-color: rgb(206, 192, 176);
}*/
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    position: relative;
}

#message a {
    padding: 5px 5px;
    font-size: 12px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*
.menu {
    position: relative;
    display: inline-block;
    background-color: white;
    color: #1D2731; 
}
.menu-content {
    display: none;hide the <a> content until user hover 
    position: absolute;this will prevent the content behind move down for the content to appera 
    background-color: #1D2731;
    left:0;
    width: 100%;
    padding: 10px;
}
*/
/*
    .menu-content a {
        color: white;/*prevent href link to be blue
        text-decoration: none;/*prevent href link to be underline
        display: block; /*Displays an element as a block element (like <p>)
        padding: 10px;
    }

        .menu-content a:hover{
            background-color: rgb(52, 59, 66);
            color:rgb(255, 255, 255);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
              -o-transform: rotate(5deg);
             -ms-transform: rotate(5deg);
             transform: rotate(5deg);
        }

.menu:hover .menu-content {
    display: block;/*when mouse is hover: the item show
}
*/
/*when it's full Screen------------------------*/
@media only screen and (min-width: 760px) {
    .header{
        background-color: #1D2731;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color:white;
        min-height: 30px;
        border: none;
    }
}
/*side navigation*/
.navigation li {
    padding: 10px 0px 10px 0px;
    min-width: 100%;
    margin: 15px 0px 15px 0px;
    background-color:  #1D2731;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navigation li a{
    color: white;/*prevent href link to be blue*/
    text-decoration: none;/*prevent href link to be underline*/
    display: block; /*Displays an element as a block element (like <p>)*/
}
.navigation li:hover {
    background-color: rgb(52, 59, 66);
    color:rgb(255, 255, 255);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
      -o-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
     transform: rotate(5deg);
}
/*down load file*/
.box li {
    padding: 10px 0px 10px 0px;
    min-width: 100%;
    margin: 15px 0px 15px 0px;
    background-color:  rgb(60, 76, 92);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 7px;
}
.box li a{
    color: white;/*prevent href link to be blue*/
    text-decoration: none;/*prevent href link to be underline*/
    display: block; /*Displays an element as a block element (like <p>)*/
}
.box li:hover {
    background-color: rgb(52, 59, 66);
    color:rgb(255, 255, 255);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
      -o-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
     transform: rotate(5deg);
}
.grid-container{
    display: grid;
    /*grid-column-gap: 5px;*/
    grid-template-columns: auto auto;
    /*background-color: rgb(52, 59, 66);*/
    /*padding: 5px;*/
}
.grid-container>div{
    /*background-color: white;*/
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
}
/*.item2{
    grid-column-start: 3;
    grid-column-end: 6;
}*/

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
img{
    height: auto;
    width: 100%;
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;
}
img:hover{
    opacity: 0.5; 
}
.section-header{
    background-color: #1D2731;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: rgb(221, 220, 215);
}
.page-heading {
    height: 100%;
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat fixed 50% 0px / cover;
    box-shadow: inset 0 0 0 100px rgba(36, 70, 105, 0.74);
}
/*Show picture slideshow*/

.row > .column {
    padding: 0 8px;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }